<div class='account-page'>
<h2>アカウント編集</h2>
<%= form_with model: current_user, local: true do |f|%>
        
  <div class='field'>
    <div class='field-label'>
    <%= f.label :name, "名前" %><br />
    </div>
  </div>

  <div class='field-input'>
    <%= f.text_field :name, autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :profile, "目標・達成したいこと" %><br />
    <%= f.text_area :profile, autofocus: true %>
  </div>

  <div class='field'>
    <div class='field-label'>
      <%= f.label :email, "Eメール"%>
    </div>

    <div class='field-input'>
      <%= f.email_field :email%>
    </div>
  </div>

  <div class='actions'>
  <%= f.submit "Update", class: 'btn'%>
  </div>
<% end %>
</div>
