<!DOCTYPE html>
<html>
  <head>
    <title>ShareApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="header">
      <div class="header-logo"><h1>ShareApp</h1></div>
      <div class="header-text">投稿する</div>
    </div>
    <%= yield %>
  </body>
</html>
